<!-- Main -->
<div class="flex flex-col flex-auto">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent">
        <!-- Title -->
        <div>
            <div class="text-4xl font-extrabold tracking-tight leading-none">File Manager</div>
            <div class="flex items-center mt-0.5 font-medium text-secondary">
                <ng-container *ngIf="!items.path.length">
                    {{items.folders.length}} folders, {{items.files.length}} files
                </ng-container>
                <!-- Breadcrumbs -->
                <ng-container *ngIf="items.path.length">
                    <div class="flex items-center space-x-2">
                        <a
                            class="text-primary cursor-pointer"
                            [routerLink]="['/apps/file-manager']">Home
                        </a>
                        <div class="">/</div>
                        <ng-container *ngFor="let path of items.path; let last = last; trackBy: trackByFn">
                            <ng-container *ngIf="!last">
                                <a
                                    class="text-primary cursor-pointer"
                                    [routerLink]="['/apps/file-manager/folders/', path.id]">{{path.name}}</a>
                            </ng-container>
                            <ng-container *ngIf="last">
                                <div>{{path.name}}</div>
                            </ng-container>
                            <ng-container *ngIf="!last">
                                <div class="">/</div>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
        <!-- Actions -->
        <div class="mt-4 sm:mt-0">
            <!-- Upload button -->
            <button
                mat-flat-button
                [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Upload file</span>
            </button>
        </div>
    </div>
