<div class="flex flex-col flex-auto h-100 w-200 min-w-80 p-2 md:p-4 ">
    <!-- Header -->
    <div class="flex items-center justify-between">
        <div class="text-2xl font-semibold">Update Infos</div>
        <button matDialogClose mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <form class="mt-8 overflow-y-auto">
        <!-- Name field -->
        <mat-form-field class="w-full">
            <mat-label>First name</mat-label>
            <input matInput [(ngModel)]="user.firstname" name="firstname">
        </mat-form-field>

        <!-- Email field -->
        <mat-form-field class="w-full">
            <mat-label>Last name</mat-label>
            <input matInput [(ngModel)]="user.lastname" name="lastname">
        </mat-form-field>

        <!-- Email field -->
        <mat-form-field class="w-full">
            <mat-label>email</mat-label>
            <input matInput  [(ngModel)]="user.email" name="email">
        </mat-form-field>


        <div class="sm:col-span-1 flex items-center justify-end">
            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-label>Gender</mat-label>
                <input matInput [(ngModel)]="user.gender" name="gender" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of genderOptions" [value]="option">
                        {{ option }}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="genderControl.hasError('required')">Gender is required</mat-error>
            </mat-form-field>
        </div>



        <!-- Company field -->
        <mat-form-field class="w-full">
            <mat-label>Address</mat-label>
            <input matInput  [(ngModel)]="user.adresse" name="adresse">
        </mat-form-field>

        <!-- Company field -->
        <mat-form-field class="w-full">
            <mat-label>Phone number</mat-label>
            <input matInput  [(ngModel)]="user.phone_number" name="phone_number">
        </mat-form-field>

        <!-- Company field -->
        <mat-form-field class="w-full">
            <mat-label>Date of birth</mat-label>
            <input matInput  [(ngModel)]="user.date_of_birth" [matDatepicker]="date_of_birth" name="date_of_birth">
            <mat-datepicker-toggle matSuffix [for]="date_of_birth"></mat-datepicker-toggle>
            <mat-datepicker #date_of_birth ></mat-datepicker>
        </mat-form-field>

        <!-- Company field -->
        <mat-form-field class="w-full">
            <mat-label>Departement name</mat-label>
            <input matInput  [(ngModel)]="user.departement_name" name="departement_name">
        </mat-form-field>

        <!-- Submit button -->
        <button class="fuse-mat-button w-full mt-1" mat-flat-button [color]="'primary'" (click)="update(CompanyId, user.id, user )">
            <span>Update</span>
        </button>
    </form>
</div>
