<div class="flex flex-col flex-auto w-full h-5">
    <!-- Title and Compose button -->
    <div class="flex items-center justify-between mt-5 mb-8 mx-6">
        <div class="text-4xl font-extrabold tracking-tight leading-none">Advance Salary</div>
        <button
            class="ml-2"
            mat-flat-button
            [color]="'primary'"
            (click)="openComposeDialog()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-2">Compose</span>
        </button>
    </div>
</div>
